<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">

  <title>Books library!</title>
</head>
  <body>
    <div class="container">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item {% if page_no == 1 %}disabled{% endif %}">
            <a class="page-link" href="index{{page_no - 1}}.html">Назад</a>
          </li>

          {% for i in range(1, page_quantity + 1) %}
            {% if i == page_no %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{i}}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{i}}.html">{{i}}</a></li>
            {% endif %}
          {% endfor %}

          <li class="page-item {% if page_no == page_quantity %}disabled{% endif %}">
            <a class="page-link" href="index{{page_no + 1}}.html">Вперед</a>
          </li>
        </ul>
    </nav>
      <div class="row">
        {% for book in books %}
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{book.img_src}}" class="card-img" alt="{{book.title}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h4 class="card-title">{{book.title}}</h4>
                    <p class="card-text">{{book.author}}</p>
                    <p class="card-text">
                      {% for category in book.genres %}
                        <span class="badge badge-light">{{category}}</span>
                      {% endfor %}
                    </p>
                    <p class="card-text">
                      <small class="text-muted"><a href="{{book.book_path}}" target="_blank">Читать</a></small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%- if loop.index is even %}
            <div class="w-100"></div>
          {% endif %}
        {% endfor %}
      </div>
    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>